@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

html,
body {
  font-family: "Basis", arial;
  min-height: 100vh;
}

#light {
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0.05) 1px, transparent 1px),
    linear-gradient(rgba(0, 0, 0, 0.05) 1px, transparent 1px),
    linear-gradient(-90deg, rgba(0, 0, 0, 0.04) 1px, transparent 1px),
    linear-gradient(rgba(0, 0, 0, 0.04) 1px, transparent 1px),
    linear-gradient(transparent 3px, #f2f2f2 3px, #f2f2f2 78px, transparent 78px),
    linear-gradient(-90deg, #aaa 1px, transparent 1px),
    linear-gradient(-90deg, transparent 3px, #f2f2f2 3px, #f2f2f2 78px, transparent 78px),
    linear-gradient(#aaa 1px, transparent 1px), #f2f2f2;
  background-size: 4px 4px, 4px 4px, 80px 80px, 80px 80px, 80px 80px, 80px 80px, 80px 80px, 80px 80px;
}

#dark {
  background: linear-gradient(-90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(-90deg, rgba(255, 255, 255, 0.04) 1px, transparent 1px),
    linear-gradient(rgba(255, 255, 255, 0.04) 1px, transparent 1px),
    linear-gradient(transparent 3px, #111111 3px, #111111 78px, transparent 78px),
    linear-gradient(-90deg, #ffffff 1px, transparent 1px),
    linear-gradient(-90deg, transparent 3px, #111111 3px, #111111 78px, transparent 78px),
    linear-gradient(#ffffff 1px, transparent 1px), #111111;
  background-size: 4px 4px, 4px 4px, 80px 80px, 80px 80px, 80px 80px, 80px 80px, 80px 80px, 80px 80px;
}

#light .library {
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0.05) 1px, transparent 1px),
    linear-gradient(rgba(0, 0, 0, 0.05) 1px, transparent 1px),
    linear-gradient(-90deg, rgba(0, 0, 0, 0.04) 1px, transparent 1px),
    linear-gradient(rgba(0, 0, 0, 0.04) 1px, transparent 1px),
    linear-gradient(transparent 3px, #f2f2f2 3px, #f2f2f2 78px, transparent 78px),
    linear-gradient(-90deg, #aaa 1px, transparent 1px),
    linear-gradient(-90deg, transparent 3px, #f2f2f2 3px, #f2f2f2 78px, transparent 78px),
    linear-gradient(#aaa 1px, transparent 1px), #f2f2f2;
  background-size: 4px 4px, 4px 4px, 80px 80px, 80px 80px, 80px 80px, 80px 80px, 80px 80px, 80px 80px;
}

#dark .library {
  background: linear-gradient(-90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(-90deg, rgba(255, 255, 255, 0.04) 1px, transparent 1px),
    linear-gradient(rgba(255, 255, 255, 0.04) 1px, transparent 1px),
    linear-gradient(transparent 3px, #111111 3px, #111111 78px, transparent 78px),
    linear-gradient(-90deg, #ffffff 1px, transparent 1px),
    linear-gradient(-90deg, transparent 3px, #111111 3px, #111111 78px, transparent 78px),
    linear-gradient(#ffffff 1px, transparent 1px), #111111;
  background-size: 4px 4px, 4px 4px, 80px 80px, 80px 80px, 80px 80px, 80px 80px, 80px 80px, 80px 80px;
}

#light .title {
  color: #000;
}

#dark .title {
  color: #fff;
}

#light .text {
  color: #fff;
}

#dark .text {
  color: #000;
}

#light .buttonClass {
  background-color: #222222;
  color: #fff;
}

#dark .buttonClass {
  background-color: #fff;
  color: #000;
}

#light .buttonClass2 {
  background-color: #fff;
  color: #000;
}

#dark .buttonClass2 {
  background-color: #222222;
  color: #fff;
}

#light .buttonClass3 {
  background-color: #222;
  color: #fff;
}

#dark .buttonClass3 {
  background-color: #fff;
  color: #000;
}

#light .buttonClass3:hover {
  background-color: #000;
  color: #fff;
}

#dark .buttonClass3:hover {
  background-color: #f3f6f4;
  color: #000;
}

#light .navStyle {
  color: #000;
}

#dark .navStyle {
  color: #fff;
}

#light .burgerStyle {
  background-color: #222222;
}

#dark .burgerStyle {
  background-color: #f5f5f5;
}

#light .burgerStyle2 {
  background-color: #f5f5f5;
}

#dark .burgerStyle2 {
  background-color: #222222;
}

#light .windowStyle {
  background-color: #222222;
  color: #f5f5f5;
}

#dark .windowStyle {
  background-color: #f5f5f5;
  color: #222222;
}

#light .formStyle {
  background-color: rgb(229 231 235);
  border-color: rgb(229 231 235);
  color: rgb(55 65 81);
}

#light .formStyle:focus {
  background-color: rgb(255 255 255);
  border-color: rgb(107 114 128);
}

#dark .formStyle {
  background-color: rgb(26 24 30);
  border-color: rgb(26 24 30);
  color: rgb(200 210 225);
}

#dark .formStyle:focus {
  background-color: rgb(0 0 0);
  border-color: rgb(148 141 128);
}

#light .formTitle {
  color: rgb(200 190 174);
}

#dark .formTitle {
  color: rgb(55 65 81);
}

@font-face {
  font-family: "graph";
  src: local("3x5 Font"), url("./font/3x5-9OYA.ttf") format("truetype");
}

#light .link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.5s ease-in-out;
}

#light .link-underline-black {
  background-image: linear-gradient(transparent, transparent), linear-gradient(#000, #000);
}

#light .link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%;
}

#dark .link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#000, #000);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.5s ease-in-out;
}

#dark .link-underline-black {
  background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
}

#dark .link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%;
}

/* Styles pour la scrollbar */
.testing::-webkit-scrollbar {
  width: 8px;
}

#dark .testing::-webkit-scrollbar-track {
  background-color: #f2f2f2;
}

#dark .testing::-webkit-scrollbar-thumb {
  background-color: #a5a5a5;
  border-radius: 4px;
}

#dark .testing::-webkit-scrollbar-thumb:hover {
  background-color: #7d7d7d;
}

#dark .testing::-webkit-scrollbar-thumb:active {
  background-color: #808080;
}

#dark .testing::-webkit-scrollbar-corner {
  background-color: #f2f2f2;
}

#light .testing::-webkit-scrollbar-track {
  background-color: #0d0d0d;
}

#light .testing::-webkit-scrollbar-thumb {
  background-color: #5a5a5a;
  border-radius: 4px;
}

#light .testing::-webkit-scrollbar-thumb:hover {
  background-color: #828282;
}

#light .testing::-webkit-scrollbar-thumb:active {
  background-color: #7f7f7f;
}

#light .testing::-webkit-scrollbar-corner {
  background-color: #0d0d0d;
}

::-webkit-scrollbar {
  width: 0px;
}

/* Card CSS */
#image-track > .image {
  max-width: 40vmin;
  max-height: 56vmin;
  object-fit: cover;
  object-position: center;
}

#image-track {
  display: flex;
  gap: 4vmin;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  cursor: grab;
  cursor: -webkit-grab;
}

#image-track:active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

.image-animation {
  transition: object-position 0.3s ease-out; /* Add the desired animation properties */
}

/* Text reveal animation */
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}
.reveal.active {
  transform: translateY(0);
  opacity: 1;
}
