@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

html,
body {
  font-family: "Basis", arial;
  min-height: 100vh;
}

#light {
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0.05) 1px, transparent 1px),
    linear-gradient(rgba(0, 0, 0, 0.05) 1px, transparent 1px),
    linear-gradient(-90deg, rgba(0, 0, 0, 0.04) 1px, transparent 1px),
    linear-gradient(rgba(0, 0, 0, 0.04) 1px, transparent 1px),
    linear-gradient(transparent 3px, #f2f2f2 3px, #f2f2f2 78px, transparent 78px),
    linear-gradient(-90deg, #aaa 1px, transparent 1px),
    linear-gradient(-90deg, transparent 3px, #f2f2f2 3px, #f2f2f2 78px, transparent 78px),
    linear-gradient(#aaa 1px, transparent 1px), #f2f2f2;
  background-size: 4px 4px, 4px 4px, 80px 80px, 80px 80px, 80px 80px, 80px 80px, 80px 80px, 80px 80px;
}

#dark {
  background: linear-gradient(-90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(-90deg, rgba(255, 255, 255, 0.04) 1px, transparent 1px),
    linear-gradient(rgba(255, 255, 255, 0.04) 1px, transparent 1px),
    linear-gradient(transparent 3px, #111111 3px, #111111 78px, transparent 78px),
    linear-gradient(-90deg, #ffffff 1px, transparent 1px),
    linear-gradient(-90deg, transparent 3px, #111111 3px, #111111 78px, transparent 78px),
    linear-gradient(#ffffff 1px, transparent 1px), #111111;
  background-size: 4px 4px, 4px 4px, 80px 80px, 80px 80px, 80px 80px, 80px 80px, 80px 80px, 80px 80px;
}

#light .title {
  color: #000;
}

#dark .title {
  color: #f2f2f2;
}

#light .text {
  color: #f2f2f2;
}

#dark .text {
  color: #000;
}

#light .buttonClass {
  background-color: #222222;
  color: #f2f2f2;
  transition: ease-in-out 500ms;
}

#light .buttonClass:focus {
  background-color: #f2f2f2;
  color: #222222;
}

#dark .buttonClass {
  background-color: #e1e8f5;
  color: #000;
  transition: ease-in-out 500ms;
}

#dark .buttonClass:focus {
  background-color: #000;
  color: #e1e8f5;
}

#light .buttonClass2 {
  background-color: #e1e8f5;
  color: #000;
}

#dark .buttonClass2 {
  background-color: #222222;
  color: #f2f2f2;
}

#light .buttonClass3 {
  background-color: #222;
  color: #f2f2f2;
  transition: ease-in-out 500ms;
}

#light .buttonClass3:focus {
  background-color: #f2f2f2;
  color: #222;
}

#dark .buttonClass3 {
  background-color: #e1e8f5;
  color: #000;
  transition: ease-in-out 500ms;
}

#dark .buttonClass3:focus {
  background-color: #000;
  color: #e1e8f5;
}

/* #light .buttonClass3:hover {
  background-color: #000;
  color: #f2f2f2;
} */

/* #dark .buttonClass3:hover {
  background-color: #e1efff;
  color: #000;
} */

#light .navStyle {
  color: #000;
}

#dark .navStyle {
  color: #f2f2f2;
}

#light .burgerStyle {
  background-color: #222222;
}

#dark .burgerStyle {
  background-color: #e1e8f5;
}

#light .burgerStyle2 {
  background-color: #e1e8f5;
}

#dark .burgerStyle2 {
  background-color: #222222;
}

#light .windowStyle {
  background-color: #222222;
  color: #f2f2f2;
}

#dark .windowStyle {
  background-color: #e1e8f5;
  color: #222222;
}

#light .formStyle {
  background-color: rgb(229 231 235);
  border-color: rgb(229 231 235);
  color: rgb(55 65 81);
}

#light .formStyle:focus {
  background-color: rgb(255 255 255);
  border-color: rgb(107 114 128);
}

#dark .formStyle {
  background-color: rgb(26 24 30);
  border-color: rgb(26 24 30);
  color: rgb(200 210 225);
}

#dark .formStyle:focus {
  background-color: rgb(0 0 0);
  border-color: rgb(148 141 128);
}

#light .formTitle {
  color: rgb(200 190 174);
}

#dark .formTitle {
  color: rgb(55 65 81);
}

#light .libraryNav {
  background-color: white;
  color: #222222;
}

#dark .libraryNav {
  background-color: #222222;
  color: white;
}

@font-face {
  font-family: "graph";
  src: local("3x5 Font"), url("./font/3x5-9OYA.ttf") format("truetype");
}

#light .link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.5s ease-in-out;
}

#light .link-underline-black {
  background-image: linear-gradient(transparent, transparent), linear-gradient(#000, #000);
}

#light .link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%;
}

#dark .link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#000, #000);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.5s ease-in-out;
}

#dark .link-underline-black {
  background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
}

#dark .link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%;
}

/* Styles pour la scrollbar */
::-webkit-scrollbar {
  width: 0px;
}

.testing::-webkit-scrollbar {
  width: 8px;
}

#dark .testing::-webkit-scrollbar-track {
  background-color: #e1e8f5;
}

#dark .testing::-webkit-scrollbar-thumb {
  background-color: #a5a5a5;
  border-radius: 4px;
}

#dark .testing::-webkit-scrollbar-thumb:hover {
  background-color: #7d7d7d;
}

#dark .testing::-webkit-scrollbar-thumb:active {
  background-color: #808080;
}

#dark .testing::-webkit-scrollbar-corner {
  background-color: #e1e8f5;
}

#light .testing::-webkit-scrollbar-track {
  background-color: #0d0d0d;
}

#light .testing::-webkit-scrollbar-thumb {
  background-color: #5a5a5a;
  border-radius: 4px;
}

#light .testing::-webkit-scrollbar-thumb:hover {
  background-color: #828282;
}

#light .testing::-webkit-scrollbar-thumb:active {
  background-color: #7f7f7f;
}

#light .testing::-webkit-scrollbar-corner {
  background-color: #0d0d0d;
}

.cardscroll::-webkit-scrollbar {
  width: 8px; /* Largeur de la scrollbar */
}

#light .cardscroll::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5); /* Couleur de la barre de défilement */
  border-radius: 4px; /* Bordure arrondie */
}

#light .cardscroll::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.8); /* Couleur de la barre de défilement au survol */
}

#light .cardscroll::-webkit-scrollbar-track {
  background-color: transparent; /* Fond transparent */
}

#dark .cardscroll::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5); /* Couleur inversée de la barre de défilement */
  border-radius: 4px; /* Bordure arrondie */
}

#dark .cardscroll::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.8); /* Couleur inversée de la barre de défilement au survol */
}

#dark .cardscroll::-webkit-scrollbar-track {
  background-color: transparent; /* Fond transparent */
}

/* Card CSS */
#image-track > .image {
  max-width: 40vmin;
  max-height: 56vmin;
  object-fit: cover;
  object-position: center;
}

#image-track {
  display: flex;
  gap: 4vmin;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  cursor: grab;
  cursor: -webkit-grab;
}

#image-track:active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

.image-animation {
  transition: object-position 0.3s ease-out; /* Add the desired animation properties */
}

.slider-slow-scroll {
  transition: transform 0.5s ease-in-out;
}

/* Text reveal animation */
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
  animation-fill-mode: forwards; /* Keeps the final state after animation ends */
  animation-iteration-count: 1; /* Play the animation only once */
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
  animation-fill-mode: forwards; /* Keeps the final state after animation ends */
  animation-iteration-count: 1; /* Play the animation only once */
}

/* Library card anim */
/* Animation d'apparition de bas en haut */
@keyframes apparition-bas-haut {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Appliquer l'animation à un élément */
.element {
  animation-name: apparition-bas-haut;
  animation-duration: 1s;
  animation-fill-mode: forwards; /* Maintenir l'état final de l'animation */
}

/* Library card */
#light .card {
  font-family: "Source Sans Pro", sans-serif;
  background: url(https://images.unsplash.com/photo-1637775297509-19767f6fc225?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mzh8fGJsYWNrfGVufDB8fDB8fHww&auto=format&fit=crop&w=600&q=60)
    center / cover no-repeat fixed;
}

#dark .card {
  font-family: "Source Sans Pro", sans-serif;
  background: url(https://images.unsplash.com/photo-1567201864585-6baec9110dac?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8d2hpdGV8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60)
    center / cover no-repeat fixed;
}
